/* Styles the entire body of the document */

.container-fluid {
	font-family: "Nunito", sans-serif;
	font-size: 30pt;
	color: #F2F1EF;
	background-color: #16A085;
	text-align: center;
}

#one {
	padding-bottom: 50px;
}

#two {
	background-color: #2C3E50;
}

#spin {
	color: #2C3E50;
}

.list-group {
	padding-top: 20px;
	font-size: 25pt;
}

a.list-group-item {
	color: #2C3E50;
}

#face {
	padding-top: 20px;
	margin: auto;
}

#footer {
	font-size: 20pt;
	color: #2C3E50;
	padding-top: 30px;
	padding-bottom: 20px;
}

.center {
	margin: auto;
}

.col-md-6 {
	vertical-align: bottom;
}

i {
	color: #F2F1EF;
}

.modal-content {
	background-color: #2C3E50;
}

#image {
	background-color: #2C3E50;
	padding-bottom: 25px;
	padding-top: 25px;
}

button {
	padding: 25px;
}

